body {
    margin: 0;
    font-family: Arial;
    background: #f3f3f3;
}

header {
    background: #2b3a55;
    padding: 20px;
    color: white;
    text-align: center;
}

nav button {
    padding: 10px 15px;
    margin: 5px;
    background: white;
    border: none;
    color: #2b3a55;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

nav button.active {
    background: #f6c90e;
    color: black;
}

main {
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

.product-card {
    width: 150px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 6px;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.product-card p {
    font-weight: bold;
    color: #444;
}
